@tailwind base;

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

#mainLayout {
  @apply grid items-start;
  @apply w-screen h-screen;
  grid-template-rows: 72px 1fr;
  grid-template-columns: 96px 1fr;

  max-height: 100vh;
  overflow: hidden;
}

/* * Navigation */

nav {
  @apply bg-white;
  @apply h-full;
}

nav > .grid-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

nav a {
  display: grid;
  padding: 1rem 0;
  gap: 0.5rem;
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;
  justify-self: center;
  font-size: 11pt;
  font-weight: 500;
  color: #aaa;

  transition: 150ms ease-in all;
}

nav a span {
  text-align: center;
  color: #333;

  transition: 150ms ease-in all;
}

nav a svg {
  margin: 0px auto;

  /* transition: 150ms ease-in all; */
}

nav a.active {
  font-weight: 500;
}
